<div class="container">
  <div><p>{{movieDetail.id}}</p></div>
  <div><p>{{movieDetail.title}}</p></div>
  <div><img src="{{movieDetail.poster}}"></div>
  <div><p>{{movieDetail.synopsis}}</p></div>
  <div><p>{{movieDetail.genres}}</p></div>
  <div><p>{{movieDetail.year}}</p></div>
  <div><p>{{movieDetail.director}}</p></div>
  <div><p>{{movieDetail.director}}</p></div>
  <div><p>{{movieDetail.actors}}</p></div>
  <div><p>{{movieDetail.hours}}</p></div>
  <div><p>{{movieDetail.room}}</p></div>
<a [routerLink]="['/']"> Back to list </a>
</div>
